<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Country</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<h1>Creating NEW</h1>
<h1>Enter Country div($.ajax({...}) JS)</h1>

<div>
    <input type="" id="nameCountry" placeholder="enter Name County"><br>
    <input type="number" id="dateOfCreation" placeholder="enter date Of Creation"><br>
    <input type="" id="politicalSystem" placeholder="enter political System"><br>
    <input type="" id="continent" placeholder="enter continent"><br>
    <input type="" id="capital" placeholder="enter capital"><br>
    <input type="number" id="square" placeholder="enter square"><br>
    <input type="number" id="population" placeholder="enter population"><br>
    <button id="saveButtonCountry">Надіслати</button>
</div>

<h1>Enter Contact form($.ajax({...}) JS)</h1>
<form id="f1">
    <input type="" name="nameCountry" placeholder="enter Name County"><br>
    <input type="number" name="dateOfCreation" placeholder="enter date Of Creation"><br>
    <input type="" name="politicalSystem" placeholder="enter political System"><br>
    <input type="" name="continent" placeholder="enter continent"><br>
    <input type="" name="capital" placeholder="enter capital"><br>
    <input type="number" name="square" placeholder="enter square"><br>
    <input type="number" name="population" placeholder="enter population"><br>
    <button id="btn">Надіслати</button>
</form>

</body>
</html>

<script src="main.js"></script>