<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Country</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">
</head>
<body>
<div class="container forgecontainer ">
    <h1 class="name_page">
        Creating NEW Country
    </h1>

    <form id="formSaveCountry" class="formflex">
        <div class="disp-flex w-30">
            <p>Name Of Country:</p>
            <p>Date Of Creation:</p>
            <p>Political System:</p>
            <p>Continent:</p>
            <p>Capital:</p>
            <p>Square:</p>
            <p>Population:</p>
        </div>
        <div class="disp-flex w-70">
            <input class="inp-position" type="text" name="nameCountry" placeholder="enter Name County" value="Ukraine">
            <input class="inp-position" type="date" name="dateOfCreation" id="dateOf" min="1900-04-10" max="2050-04-20" value="2018-10-30"/>
            <select class="inp-position" name="politicalSystem">
                <option>TOTALITAR</option>
                <option>AUTHORITARIAN</option>
                <option>DEMOCRATIC</option>
            </select>
            <select class="inp-position" name="continent">
                <option>ANTARCTICA</option>
                <option>NORTH_AMERICA</option>
                <option>SOUTH_AMERICA</option>
                <option>EUROPE</option>
                <option>AFRICA</option>
                <option>ASIA</option>
                <option>AUSTRALASIA</option>
            </select>
            <input class="inp-position" type="text" name="capital" placeholder="enter capital" value="Kuiw">
            <input class="inp-position" type="number" name="square" placeholder="enter square" value="680000">
            <input class="inp-position" type="number" name="population" placeholder="enter population" value="155001">

        </div>
    </form>

    <div class="text-align-center">
        <button id="saveButtonCountry">Save</button>
        <a th:href="@{'/viewAllCountries'}">
            <button>View all Countries</button>
        </a>
    </div>

</div>
</body>
</html>
<script src="main.js"></script>
