<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit existing Country</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"  href="../main.css">
</head>
<body>
<div class="container forgecontainer ">
    <h1 class="name_page">
        Edit existing Country
    </h1>

    <p>ID: [[${country.id}]]</p>

    <form id="formUpdateCountry" class="formflex"  th:action="@{'/updateCountyEdit/'+${country.getId()}}" method="post">
        <div class="disp-flex w-30">
            <p>Name Of Country</p>
            <p>Date Of Creation</p>
            <p>Political System</p>
            <p>Continent</p>
            <p>Capital</p>
            <p>Square</p>
            <p>Population</p>
        </div>

        <div class="disp-flex w-70">
            <div>
                <input class="inp-position" type="hidden" name="id" th:value="${country.id}">
            </div>
            <div>
                <input class="inp-position" name="nameCountry" th:value="${country.nameCountry}">
            </div>
            <div>
                <input class="inp-position" type="date" max="2050-04-20"
                       min="1900-04-10" value="2018-10-30" name="dateOfCreation" th:value="${country.dateOfCreation}">
            </div>

            <select class="inp-position" name="politicalSystem" th:value="${country.politicalSystem}">
                <option name="politicalSystem">TOTALITAR</option>
                <option name="politicalSystem">AUTHORITARIAN</option>
                <option name="politicalSystem">DEMOCRATIC</option>
            </select>
            <select class="inp-position" name="continent" th:value="${country.continent}">
                <option name="continent">ANTARCTICA</option>
                <option name="continent">NORTH_AMERICA</option>
                <option name="continent">SOUTH_AMERICA</option>
                <option name="continent">EUROPE</option>
                <option name="continent">AFRICA</option>
                <option name="continent">ASIA</option>
                <option name="continent">AUSTRALASIA</option>
            </select>

            <div>
                <input class="inp-position" name="capital" th:value="${country.capital}">
            </div>
            <div>
                <input class="inp-position" name="square" th:value="${country.square}">
            </div>
            <div>
                <input class="inp-position" name="population" th:value="${country.population}">
            </div>

            <div class="inp-position">
                <button th:action="@{'/updateCountyEdit/'+${country.getId()}}">Save</button>
            </div>
        </div>
    </form>

    <a th:href="@{'/cancelEdit/'+${country.getId()}}">
        <button>Cancel</button>
    </a>

    <a th:href="@{'/deleteCountry/'+${country.getId()}}">
        <button>Delete</button>
    </a>

</div>
</body>
</html>