<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Countries</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"  href="../main.css">
</head>
<body>

<div class="forgecontainer">

    <h1 class="main-name_page">Country</h1>

    <div class="main_menu float-l mg-t-140">
        <div>
            <ul class="nav nav-pills flex-column">
                <b class="txtsize">
                    <li><a th:href="@{'country/'}">Countries</a></li>
                    <li><a th:href="@{'cities/'}">Cities</a></li>
                    <li><a th:href="@{'sights/'}">Sights</a></li>
                    <li><a th:href="@{'universities/'}">Universities</a></li>
                </b>
            </ul>
        </div>
    </div>

    <div class="float-l mg-t-50 mg-l-15">

        <h1 class="name_page">Search Countries</h1>

        <form action="/xxxxxxxx" class="formflex">
            <div class="disp-flex w-30">
                <p>Name Of Country:</p>
                <p>Date Of Creation:</p>
                <p>Political System:</p>
                <p>Continent:</p>
            </div>
            <div class="disp-flex w-70">
                <div>
                    <input class="inp-position" name="name" id="nameCountrySearch">
                </div>
                <div>
                    <input class="inp-position" type="date" name="dateOf" id="dateOfCreation" max="2050-04-20" min="1900-04-10" value="2018-10-30">
                </div>
                <select class="inp-position" name="politicalSystem">
                    <option name="politicalSystem">TOTALITAR</option>
                    <option name="politicalSystem">AUTHORITARIAN</option>
                    <option name="politicalSystem">DEMOCRATIC</option>
                </select>
                <select class="inp-position" name="continent">
                    <option name="continent">ANTARCTICA</option>
                    <option name="continent">NORTH_AMERICA</option>
                    <option name="continent">SOUTH_AMERICA</option>
                    <option name="continent">EUROPE</option>
                    <option name="continent">AFRICA</option>
                    <option name="continent">ASIA</option>
                    <option name="continent">AUSTRALASIA</option>
                </select>
            </div>
        </form>

        <div class="text-align-center mg-t-8">
                <button class="two-buttons" id="searchButtonCountry">Search</button>
            <a th:href="@{'/createNewCountryButton'}">
                <button class="two-buttons">Create New</button>
            </a>
        </div>

        <div class="right-scroll_head mg-t-8">
            <span class="w-49 mg-l-1">NAME</span>
            <span class="w-50 mg-l-280">DATA OF CREATION</span>
        </div>

        <div class="right-scroll">
            <ul class="ul_table">
                <li class="li_table" th:each="country:${countryList}">
                    <a class="buttons-list" th:href="@{'/viewCountry/'+${country.getId()}}">
                        <div th:name="nameCountry">
                        <p class="w-49 float-l mg-l-1" th:text="${country.nameCountry}"></p>
                        <p class="w-50 float-l" th:text="${country.dateOfCreation}"></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="clear"></div>

</div>
</body>
</html>
<script src="main.js"></script>