<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Countries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .green-mybtn{
            border: 2px black;
            border-radius: 3px;
            width: 60px;
            background-color: lawngreen;
            color: black;
        }
    </style>
</head>
<body>

<h1>Search Countries</h1>

<form action="/searchCountry">
    <input type="" name="name" placeholder="enter Name"><br> <!--name=... - @RequestParam-->
    <input type="date" name="dateOf" id="dateOfCreation" max="2050-04-20" min="1900-04-10" value="2018-10-30"/><br>
    <input type="" name="politicalSystem" placeholder="enter political System"><br>
    <input type="" name="continent" placeholder="enter continent"><br>
</form>

<a th:href="@{'/searchButtonCountry'}">
    <button class="green-mybtn">Search</button>
</a>
<a th:href="@{'/createNewCountryButton'}">
    <button class="green-mybtn">Create New</button>
</a>

<h1>Список Countries</h1>
Натискаєм на КРАЇНУ(Ukraine) і переходимо на view.html



</body>
</html>
