<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Country</title>
</head>
<body>

<h1>View existing Country</h1>
ВСЕ ЩО Є ПРО ЦЮ КРАЇНУ
+
список Universities


<a th:href="@{'/viewAllUniversities'}">
    <button>View all (Universities)</button>
</a>

<a th:href="@{'/editCountry/'+${country.getId()}}">
    <button>Edit</button>
</a>

<a th:href="@{'/newCountry'}">
    <button>Create New</button>
</a>

<div class="float-l mg-t-100 mg-l-174">
<div class="disp-flex w-30">
    <p>Id: </p>
</div>
<div class="disp-flex w-70">
    <div><p th:text="${country.getId()}"></p></div>
    <p th:text="${country.getCapital()}"></p>
    <p th:text="${country.getContinent()}"></p>
    <p th:text="${country.getDateOfCreation()}"></p>
    <p th:text="${country.getNameCountry()}"></p>
    <p th:text="${country.getPoliticalSystem()}"></p>
    <p th:text="${country.getPopulation()}"></p>
    <p th:text="${country.getSquare()}"></p>
</div>
</div>
</body>
</html>

<script>

</script>