<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Country</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
    <script src="../jquery-3.3.1.js"></script>

</head>
<body>

<div class="forgecontainer">

    <h1 class="main-name_page">Country</h1>

    <div class="main_menu float-l mg-t-140">
        <div>
            <ul class="nav nav-pills flex-column">
                <b class="txtsize">
                    <li><a th:href="@{'../country/'}">Countries</a></li>
                    <li><a th:href="@{'../cities/'}">Cities</a></li>
                    <li><a th:href="@{'../sights/'}">Sights</a></li>
                    <li><a th:href="@{'../universities/'}">Universities</a></li>
                </b>
            </ul>
        </div>
    </div>

    <div class="float-l mg-t-50 mg-l-15">

        <h1 class="name_page">View existing Country</h1>

        <p>ID: [[${country.id}]]</p>

        <form class="formflex">
            <div class="disp-flex w-30">
                <p>Name Of Country:</p>
                <p>Date Of Creation:</p>
                <p>Political System:</p>
                <p>Continent:</p>
                <p>Capital:</p>
                <p>Square:</p>
                <p>Population:</p>
            </div>
            <div class="disp-flex w-70">
                <p th:text="${country.getNameCountry()}"></p>
                <p th:text="${country.getDateOfCreation()}"></p>
                <p th:text="${country.getPoliticalSystem()}"></p>
                <p th:text="${country.getContinent()}"></p>
                <p th:text="${country.getCapital()}"></p>
                <p th:text="${country.getSquare()}"></p>
                <p th:text="${country.getPopulation()}"></p>
            </div>
        </form>

        <div class="right-scroll_head">
            <span class="w-49 mg-l-1">NAME CITY</span>
            <span class="w-50 mg-l-238">DATA OF CREATION</span>
        </div>
        <div class="right-scroll-view">
            <ul class="ul_table">
                <li class="li_table" th:each="city:${cityList}">
                    <div th:if="${country.equals(city.getCountry())}">
                        <a class="buttons-list" th:href="@{'/viewCity/'+${city.getId()}}">
                            <p class="w-49 float-l mg-l-1" th:text="${city.nameCity}"></p>
                            <p class="w-50 float-l" th:text="${city.dateOfCreation}"></p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="text-align-center">

        <a th:href="@{'/editCountry/'+${country.getId()}}">
            <button>Edit</button>
        </a>

        <a th:href="@{'/createNewCountryButtonView'}">
            <button>Create New</button>
        </a>
    </div>
    <div id="map"></div>
</div>

</body>
</html>
<script src="../main.js"></script>
<script>
    let map;
    function initMap() {
        window.navigator.geolocation.getCurrentPosition(function (coordinates) {
// console.log(coordinates.coords.longitude)
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: coordinates.coords.latitude, lng: coordinates.coords.longitude},
                zoom: 6
            });
            var marker = new google.maps.Marker({
                position: {lat: coordinates.coords.latitude, lng: coordinates.coords.longitude},
                map: map});
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxKE2U2BJ0giSmCMtvWcRHUEh_eDl4qbo&callback=initMap"
        async defer></script>