<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add City</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
    <script src="jquery-3.3.1.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div class="forgecontainer">

    <h1 class="main-name_page">City</h1>

    <div class="main_menu float-l mg-t-140">
        <div>
            <ul class="nav nav-pills flex-column">
                <b class="txtsize">
                    <li><a th:href="@{'../country/'}">Countries</a></li>
                    <li><a th:href="@{'../cities/'}">Cities</a></li>
                    <li><a th:href="@{'../sights/'}">Sights</a></li>
                    <li><a th:href="@{'../universities/'}">Universities</a></li>
                </b>
            </ul>
        </div>
    </div>

    <div class="float-l mg-t-50 mg-l-15">

        <h1 class="name_page">
            Creating NEW City
        </h1>

        <form id="formSaveCity" class="formflex">
            <div class="disp-flex w-30">
                <p>Name Of City:</p>
                <p>Date Of Creation:</p>
                <p>Population:</p>
                <p>History:</p>
                <p>Country:</p>
            </div>
            <div class="disp-flex w-70">
                <div><input class="inp-position" type="text" name="nameCity" id="nameCity"></div>
                <div><input class="inp-position" type="date" name="dateOfCreation" id="dateOfCreation" max="2050-04-20" min="1900-04-10"
                            value="2018-10-30"></div>
                <div><input class="inp-position" type="number" name="population" id="population"></div>
                <div><input class="inp-position" type="text" name="history" id="history">
                </div>
                <select class="inp-position" name="nameCountry">
                    <div th:each="country:${countryList}">
                        <option th:text="${country.getNameCountry()}"></option>
                    </div>
                </select>
            </div>
        </form>
    </div>

    <div class="text-align-center">
        <button id="saveButtonCity">Save</button>

        <a th:href="@{'/viewAllCities'}">
            <button>View all Cities</button>
        </a>
    </div>

</div>
</body>
</html>

<script src="main.js"></script>