<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add City</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<h1>Creating NEW</h1>
<h1>Enter City ($.ajax({...}) JS)</h1>
<div>
    <input type="text" id="nameCity" placeholder="enter Name City"><br>
    <input type="number" id="dateOfCreation" placeholder="enter date Of Creation"><br>
    <input type="number" id="population" placeholder="enter population"><br>
    <input type="text" id="history" placeholder="enter history of City"><br>
    <button id="saveButtonCity">Надіслати</button>
</div>

</body>
</html>

<script src="main.js"></script>