body {
    margin: 0;
    background-color: #5F5F5F;
    color: black;
    text-shadow: 0 1px 0 #efefef;
    padding-top: 50px;
}

.main-name_page{
    font-size: 70px;
    color: #900022;
    text-align: center
}

.name_page {
    padding: 10px 0 20px 0;
}

.txtsize {
    font-size: large;
}

.forgecontainer {
    margin: auto;
    width: 1050px;
    background-color: #F2F2F2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 4px #000000;
    padding: 0 10px 20px 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul > b > li > a {
    display: block;
    color: black;
    padding-left: 2%;
}

ul > b > li > a:hover {
    background: #5F5F5F;
    color: white;
}

.txtsize {
    font-size: large;
}

.main_menu {
    border: 2px solid black;
    border-radius: 3px;
    width: 120px;
}

.mg-t-140 {
    margin-top: 140px;
}

.mg-t-50 {
    margin-top: 50px;
}

.mg-l-15 {
    margin-left: 15%;
}

.formflex {
    display: flex;
    width: 700px;
    align-content: space-around;
}

.disp-flex {
    display: flex;
    align-content: space-around;
    flex-direction: column;
}

.w-160px {
    width: 160px;
}

.w-30 {
    width: 30%;
}

.w-49 {
    width: 49%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.inp-position {
    width: 400px;
    margin-bottom: 10px;
}

.text-align-center {
    text-align: center
}

button:hover {
    background: white;

}

button {
    border: 2px solid black;
    border-radius: 3px;
    height: 40px;
    width: 116px;
    color: black;
}

.buttons-list {
    color: black;
}

.buttons-list:hover {
    text-decoration: none;
    color: #ff4443;
}

.clear {
    clear: both;
}

.li_table {
    list-style-type: none; /* Забираємо маркер в списку */
}

.ul_table {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

form > div > p {
    color: black;
    font-weight: 600;
}

.right-scroll_head {
    padding: 6px 0;
    background: #e3e3e3;
    color: #900022;
    font-weight: 900;
}

.main_menu {
    border: 2px solid black;
    border-radius: 3px;
    width: 120px;
}

.float-l {
    float: left;
}

.mg-t-140 {
    margin-top: 140px;
}

.mg-t-8 {
    margin-top: 8%;
}

.mg-l-1 {
    margin-left: 1%;
}

.mg-l-280 {
    margin-left: 280px;
}

.mg-l-238 {
    margin-left: 238px;
}

.mg-l-226 {
    margin-left: 226px;
}

.mg-l-179 {
    margin-left: 179px;
}

.right-scroll {
    height: 250px;
    overflow-y: scroll;
}

.right-scroll-view {
    height: 200px;
    overflow-y: scroll;
}

.text-align-center {
    text-align: center
}

#map {
    margin-top: 10px;
    height: 500px;
    width: 100%;
}