<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Sight</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
</head>
<body>

<div class="forgecontainer">

    <h1 class="main-name_page">Sight</h1>


    <div class="main_menu float-l mg-t-140">
        <div>
            <ul class="nav nav-pills flex-column">
                <b class="txtsize">
                    <li><a th:href="@{'country/'}">Countries</a></li>
                    <li><a th:href="@{'cities/'}">Cities</a></li>
                    <li><a th:href="@{'sights/'}">Sights</a></li>
                    <li><a th:href="@{'universities/'}">Universities</a></li>
                </b>
            </ul>
        </div>
    </div>

    <div class="float-l mg-t-50 mg-l-15">

        <h1 class="name_page">Search sight</h1>

        <form action="/xxxxxxxx" class="formflex">
            <div class="disp-flex w-30">
                <p>Name Of Sight:</p>
                <p>Type:</p>
                <p>Minimum money:</p>
            </div>
            <div class="disp-flex w-70">
                <div>
                    <input class="inp-position" name="nameSight">
                </div>
                <select class="inp-position" name="type">
                    <option name="politicalSystem">CAFE</option>
                    <option name="politicalSystem">RESTAURANT</option>
                    <option name="politicalSystem">MUSEUM</option>
                    <option name="politicalSystem">CHURCH</option>
                    <option name="politicalSystem">THEATER</option>
                    <option name="politicalSystem">CINEMA</option>
                </select>
                <div>
                    <input class="inp-position" name="minMoney">
                </div>

            </div>
        </form>

        <div class="text-align-center mg-t-8">
            <a th:href="@{'/searchButtonSight'}">
                <button class="two-buttons">Search</button>
            </a>
            <a th:href="@{'/createNewSightButton'}">
                <button class="two-buttons">Create New</button>
            </a>
        </div>

        <div class="right-scroll_head mg-t-8">
            <span class="w-49 mg-l-1">NAME</span>
            <span class="w-50 mg-l-280">TYPE</span>
        </div>
        <div class="right-scroll">
            <ul class="ul_table">
                <li class="li_table" th:each="sight:${sightList}">
                    <a class="buttons-list" th:href="@{'/viewSight/'+${sight.getId()}}">
                        <p class="w-49 float-l mg-l-1" th:text="${sight.nameSight}"></p>
                        <p class="w-50 float-l" th:text="${sight.type}"></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="clear"></div>

</div>
</body>
</html>
