<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"  href="main.css">

</head>
<body>

<div class="container forgecontainer ">
    <h1 class="name_page">
        Overview of Countries and Cities
    </h1>
    <div class="main_menu mg-t-140">
        <ul class="nav nav-pills flex-column ">
            <b class="txtsize">
                <li><a th:href="@{'country/'}">Countries</a></li>
                <li><a th:href="@{'cities/'}">Cities</a></li>
                <li><a th:href="@{'sights/'}">Sights</a></li>
                <li><a th:href="@{'universities/'}">Universities</a></li>
            </b>
        </ul>
    </div>
</div>

</body>
</html>