<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="jquery-3.3.1.js"></script>
</head>
<body>

<div class="forgecontainer">
    <h1 class="main-name_page">
        Overview of Countries and Cities
    </h1>
    <div class="main_menu float-l mg-t-140">
        <div>
            <ul class="nav nav-pills flex-column">
                <b class="txtsize">
                    <li><a th:href="@{'country/'}">Countries</a></li>
                    <li><a th:href="@{'cities/'}">Cities</a></li>
                    <li><a th:href="@{'sights/'}">Sights</a></li>
                    <li><a th:href="@{'universities/'}">Universities</a></li>
                </b>
            </ul>
        </div>
    </div>

    <div class="float-l mg-t-140 mg-l-15">
        <button id="registrationButton">Registration</button>
        <button id="loginButton">Login</button>
    <h3 th:text="${Info}" id="error"></h3>
        <div id="register">
            <form th:action="@{/saveUser}" method="post" id="regForm">
                <input type="" name="username" placeholder="username">
                <input type="" name="password" placeholder="password">
                <input type="email" name="email" placeholder="email">
                <input type="submit" value="save">
            </form>
        </div>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div id="login">
            <form th:action="@{/index}" method="post">
                <input placeholder="Username" type="text" name="username"/>
                <input placeholder="Password" type="password" name="password"/>
                <input type="submit" value="Sign In"/>
            </form>
        </div>
    </div>

    <div class="clear"></div>

</div>

</body>
</html>
<script src="main.js"></script>