<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="forgecontainer">
    <h1 class="main-name_page">
        Overview of Countries and Cities
    </h1>
    <div class="main_menu float-l mg-t-140">
        <div>
            <ul class="nav nav-pills flex-column">
                <b class="txtsize">
                    <li><a th:href="@{'country/'}">Countries</a></li>
                    <li><a th:href="@{'cities/'}">Cities</a></li>
                    <li><a th:href="@{'sights/'}">Sights</a></li>
                    <li><a th:href="@{'universities/'}">Universities</a></li>
                </b>
            </ul>
        </div>
    </div>

    <div class="float-l mg-t-140 mg-l-15">

        <h1 class="name_page">Registration</h1>

        <form th:action="@{/saveUser}" method="post">
            <input type="" name="username" placeholder="username">
            <input type="" name="password" placeholder="password">
            <input type="email" name="email" placeholder="email">
            <input type="submit" value="save">
        </form>
    </div>

    <div class="clear"></div>

</div>

</body>
</html>